/* https://notiz.dev/blog/floating-form-field-with-tailwindcss#floating-label */

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-10;
}

input:focus-within ~ label {
  @apply text-blue-500 dark:text-white text-lg;
}

.form-float-div {
  @apply flex relative my-6 justify-start;
}

.form-float-input {
  @apply block w-full appearance-none focus:outline-none focus-within:border-blue-500 bg-transparent rounded-lg dark:text-white;
}

.form-float-label {
  @apply absolute top-4 pl-2 duration-300 origin-0 dark:text-white;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}